# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/vendor/
backend/.env
backend/writable/
backend/public/uploads/**/*
!backend/public/uploads/**/.gitkeep

# OS / editor
.DS_Store
.idea/
.vscode/
*.log
